<div class="container">
  <div class="wrapper col-md-4 col-md-offset-4 col-sm-10">

<%= form_for(@post) do |f| %>

<% if @post.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <%= f.label :content %>
  <%= f.text_field :content, class: "form-control" %>
  <br>
  <%= f.label :post_image %>
  <%= f.file_field :post_image %>
  <br>
  <%= f.submit "投稿", class: 'btn btn-primary btn-block' %>

<% end %>

<%= link_to "一覧へ戻る", posts_path  %>

  </div>
</div>
